.App {
  text-align: center;
}

.fib-header {
  padding: 2em;
}

.nav-link {
  display: inline;
}

.fib-card {
  max-width: 450px;
  margin-top: 4em;
  padding: 3em;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 3px 10px 3px #00000007;
}

@media screen and (max-width: 600px) {
  .fib-card {
    width: 90%;
  }
  .btn-primary {
    width: 100%;
  }
}